header{
    background: var(--color-light);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 30px 0;
    box-shadow: 0 10px 4px rgba(0,0,0,0.1);
    border-bottom: 3px solid var(--color-divider);

    .header-expand{

        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 100px;

        nav{
            ul{
                
                list-style: none;
                display: flex;
                gap: 50px;

                li{
                    a{
                        text-decoration: none;           
                        color: var(--color-secondary);
                        font-weight: 500;
                        transition: color 0.3s;
                        &:hover{
                            color: var(--color-primary);
                        }
                    }
                }
            }
        }


    }


}